#frmContact {
	background: #e0f7f3;
	padding: 25px;
	width: 380px;
	position: center;
	margin: 150px auto 50px;
    
}

#frmContact .field-row {
	margin-bottom: 20px;
}

#frmContact div label {
	margin: 5px 0px 0px 5px;
	color: #49615d;
}

.demoInputBox {
	padding: 10px;
	border: #a5d2ca 1px solid;
	border-radius: 4px;
	background-color: #FFF;
	width: 100%;
	margin-top: 5px;
}

.demoSelectBox {
	padding: 10px;
	border: #a5d2ca 1px solid;
	border-radius: 4px;
	background-color: #FFF;
	margin-top: 5px;
}

select.demoSelectBox {
	height: 50px;
	margin-right: 10px;
}

.error {
	background-color: #FF6600;
	padding: 8px 10px;
	color: #FFFFFF;
	border-radius: 4px;
	font-size: 0.9em;
}

.success {
	background-color: #c3c791;
	padding: 8px 10px;
	color: #FFFFFF;
	border-radius: 4px;
	font-size: 0.9em;
}

.info {
	font-size: .8em;
	color: #FF6600;
	letter-spacing: 2px;
	padding-left: 5px;
}

.btnAction {
	background-color: #82a9a2;
	padding: 10px 40px;
	color: #FFF;
	border: #739690 1px solid;
	border-radius: 4px;
	cursor:pointer;
}

.btnAction:focus {
	outline: none;
}

.column-right {
	margin-right: 6px;
}

.contact-row {
	display: inline-block;
}

.cvv-input {
	width: 60px;
}

#error-message {
	margin: 20px 0px 0px;
	background: #ffd6d6;
	padding: 10px;
	border-radius: 4px;
	line-height: 25px;
	font-size: 0.9em;
	color: #907575;
	display:none;
}

.fab fa-cc-visa {
	color: blue;
}